version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run:
          name: Setup VirtualEnv
          command: |
            echo 'export TAG=0.1.${CIRCLE_BUILD_NUM}' >> $BASH_ENV
            echo 'export IMAGE_NAME=rpg-docker' >> $BASH_ENV 
            npm install
      - run:
          name: Run Tests
          command: |
            npm run test:unit
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            npm run build
            docker build -t baasbank/$IMAGE_NAME:$TAG .
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push baasbank/$IMAGE_NAME:$TAG
      
  deploy:
    docker:
      - image: ubuntu:xenial
    working_directory: ~/rpg
    steps:
      - checkout
      - run:
          name: Copy gcloud service account key
          command: echo ${GCLOUD_SERVICE_KEY} > ${HOME}/gcloud_service_key.json
      - run:
          name: Run script that deploys to GCP
          command: . ./start_deployment.sh
    
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master