version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
        environment:
          FLASK_CONFIG: testing
    steps:
      - checkout
      - run:
          name: Setup VirtualEnv
          command: |
            echo 'export TAG=0.1.${CIRCLE_BUILD_NUM}' >> $BASH_ENV
            echo 'export IMAGE_NAME=rpg-docker' >> $BASH_ENV 
            npm install
      - run:
          name: Run Tests
          command: |
            npm run test:unit
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            npm run build
            docker build -t baasbank/$IMAGE_NAME:$TAG .
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push baasbank/$IMAGE_NAME:$TAG
      - run:
          name: Deploy app to Digital Ocean Server via Docker
          command: |
            ssh  -o StrictHostKeyChecking=no -i ~/.ssh/gcloud root@35.196.225.249 "/bin/bash ./deploy_app.sh baasbank/$IMAGE_NAME:$TAG"
            # ssh -o StrictHostKeyChecking=no 35.196.4.150  "/bin/bash ./deploy_app.sh baasbank/$IMAGE_NAME:$TAG"
            